@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#E2DED2,#9FA092);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #3d3d3788;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #826653;
    text-align: center;
    text-shadow: 1px 1px 2px #614b3d8e;
}

h2{
    color: #b69d79
}

p{
    text-align: justify;
}